@use '../styles/utils/rem' as *;

:root {
  --font-primary: 'Roboto';
  --font-secondary: 'Gelasio';

  --color-white: #fff;
  --color-black: #000;
  --color-red: #c9453b;

  --container-width: 1180px;
  --container-ident: 20px;

  --section-ident: 70px;
}

.page { box-sizing: border-box; }

.page,
.page__body {
  height: 100%;
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

.page__body {
  display: flex;
  flex-direction: column;
  font-family: var(--font-primary);
  line-height: 1.6;
  color: var(--color-black);
  background-color: var(--color-white);
  background-repeat: repeat;
}

.page__main { 
  flex: auto;
}

.page__footer { flex-shrink: 0; }

.container {
  width: 100%;
  max-width: var(--container-width);
  margin: 0 auto;
  padding-left: var(--container-ident);
  padding-right: var(--container-ident);

  &_section {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
}

.main-section,
.page__main {
  padding-top: var(--section-ident);
  padding-bottom: var(--section-ident);
}

.title { 
  font-family: var(--font-secondary, serif);
  
  &_section {
    margin-bottom: 20px;
    text-align: center;
  }
}

.title-h1 { font-size: rem(65px); }
.title-h2 { font-size: rem(43px); }
.title-h3 { font-size: rem(24px); }
.title-h4 { font-size: rem(20px); }

.title-h1 { font-weight: 700; }

.title-h2,
.title-h3,
.title-h4 { 
  font-weight: 500;
}

.desc {
  font-size: rem(18px);
  color: rgba(#000, .6);

  &_section { text-align: center; }

}

