.location {

  &__desc {
    max-width: 735px;
    margin-bottom: 50px;
  }

  &__content {
    display: flex;
  }

  &__card {
    max-width: 360px;
  }

  &__card:not(:last-of-type) { margin-right: 30px; }
}