<article class="offers-card">
  <img src="@@imgSrc" alt="imgAlt" class="offers-card__img offers-card__img_@@imgClassMod">
  <div class="offers-card__body">
    <h3 class="title title-h3 offers-card__title">
      @@title
      <a href="javascript:void(0)" class="offers-card__link" aria-hidden="true"></a>
    </h3>
    <div class="offers-card__row">
      <div class="offers-card__location">
        <img src="img/location.svg" alt="location icon" class="offers-card__icon">
        @@location.name
      </div>
      <div class="offers-card__rating">
        @@location.rating
        <img src="img/star.svg" alt="star icon" class="offers-card__icon">
      </div>
    </div>
    <span class="offers-card__days">@@days.day Day @@days.night Nights</span>
    <div class="offers-card__row">
      <span class="offers-card__price">$@@price</span>
      <span class="offers-card__person">/person</span>
    </div>
  </div>
</article>