<article class="offers-card">
  <div class="offers-card__head">
    <img src="@@imgSrc" alt="imgAlt" class="offers-card__img offers-card__img_@@imgClassMod">
  </div>
  <div class="offers-card__body">
    <h3 class="title title-h3 offers-card__title">
      @@title
      <a href="javascript:void(0)" class="offers-card__link" aria-hidden="true"></a>
    </h3>
    <div class="offers-card__row">
      <span class="offres-card__location">@@locationName</span>
      <span class="offers-card__rating">@@locationRating</span>
    </div>
    <span class="offers-card__days">@@days.day Day @@days.night Nights</span>
    <div class="offers-card__row">
      <span class="offers-card__price"></span>
      <span class="offers-card__person">/person</span>
    </div>
  </div>
</article>